$navWidth: 876px;

/* header */
header {
	position: absolute;
	top:40px; left:0; right:0;
	z-index: 11;
	
	.sw { 
		width: $navWidth;
	}
	
}

.header-logo { 
	display: block; 
	width: 211px;
	max-width: 60%;
}

@media screen and (max-width: $collapseNavAt) {
	header { 
		top:0;
		padding: 7px 0;
		position: absolute;
		background: rgba($blueColor,0.8);
	}
	
	.header-logo {
		margin: 0 auto;
	}
}