$navSearchWidth: 240px;
$navBorderColor: #959595;

/* nav */
.nav {
	position: absolute;
	z-index: 12;
	top: 40px; left:0; right:0;
	
	.sw {
		width: $navWidth;
	}
	
}

nav {
	
	border: 1px solid $navBorderColor;
	position: absolute;
	top:95px; left:0; right:0;
	max-width: 100%;
	padding-right: $navSearchWidth;
	
	div {
		position: absolute;
		top: 100%; left:0; right:0;
		text-align:center;
		display: none;
		
		ul {
			
			@include linear-gradient( to bottom, $blueColor, darken($blueColor,10) );
			
			a {
				display: block; 
				padding: 4px 12px;
				&:hover {
					background: darken($blueColor,10);
				}
			}
			
			li {
				position: relative;
				&:before {
					display:block;
					margin: 0 10px;
					position: relative;
					border-top: 1px solid $blueColor;
					content:"";
				}
				&:first-child:after { display: none; }
			}
			
		}
		
	}
	
	li {
		&:first-child div {
			text-align:left;
			left:0;
		}
	}
	
	
	&>ul {
		@include display( flex );
		&>li {
			@include flex ( 1 1 auto );
			position: relative;
			border-right: 1px solid $navBorderColor;
			&.selected { background: $blueColor; }
			&:hover { 
				@include linear-gradient( to bottom, $blueColor, darken($blueColor,10) ); 
				div { display: block; }
			}
		}
	}
	
	a {
		color: #fff; 
		display: block; 
		line-height: 34px;
		text-align: center;
	}
	
}

.nav-top {
	position: absolute;
	top:10px; right:0;
	
	&>a {
		color: #fff;
		display: block; 
		float:left;
		padding: 4px 12px;
		vertical-align: middle;
		position:relative;
		@include transition( 0.2s color $ease-in-out-sine );
		
		&:before {
			content:"";
			position:absolute;
			left:0; top:3px; bottom:3px;
			width: 1px;
			background: #fff;
			z-index: -1;
			@include transition( 0.2s width $ease-in-out-sine );
		}
		
		&:hover {
			color: $blueColor;
			&:before { width: 100% !important; }
		}
		
		&:first-child {
			&:before { width:0; }
		}
		
	}
	
	.social {
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
		
		a { 
			display: inline-block;
			overflow: visible;
			vertical-align: middle;
			&:after {
				@include transform-origin( center );
				@include transform( scale(0,0) );
				@include transition( 0.4s transform $ease-in-sine );
				position: absolute;
				top:0; left:0;
				width: 100%; height: 100%;
				content:"";
				background: $blueColor;
				border-radius: 50%;
			}
			&:hover {
				&:before { color: #fff; }
				&:after { 
					@include transition-timing-function( $ease-out-back );
					@include transform( scale(1.25,1.25) ); 
				}
			}
		}
	}
	
}	

.nav {
	.search-form {
		position: absolute;
		right:0; top:0;
		background-color: transparent;
		border: none;
		width: $navSearchWidth;
		
		&:after { display: none; }
		button { 
			color: $navBorderColor; 
			outline: none;
			height: 34px;
			&:focus,
			&:hover { color: #fff; }
		}
		
		input {
			line-height: 20px;
			outline: none;
			color: #fff;
		}
		
		span.close {
			position: absolute;
			top:0; left:0; 
			height: 34px;
			width: 40px;
			cursor: pointer;
			color: #fff;
			display: none;
		}
		
	}
}

/* reorganize search form */
@media screen and (max-width: 900px) and (min-width: $collapseNavAt) {
	nav { padding-right: 40px; }
	.nav .search-form { 
		width: 40px; 
		input { visibility:hidden;}
	}
	
	.show-search {
		nav ul { visibility: hidden; }
		
		.nav .search-form {
			width: 100%;
			input { 
				visibility: visible;
				padding-left: 40px;
			}
			span.close { display: block; z-index: 11;}
		}
		
	}
	
}


/* scrolling nav */
.small-nav {

	&:before {
		content:"";
		height: 35px;
		position:fixed;
		top:0; left:0; right:0;
		background: rgba($blueColor,0.95);
		z-index:10;
		border-bottom: 1px solid #fff;
	}

	nav {
		position:fixed;
		top:0; left:0; right:0;
		width: $wrapperWidth;
		border-width: 0 1px;
		border-color: #fff;
		margin: 0 auto;
		@include transform( translateZ(0) );
		
		@media screen and (max-width: $wrapperWidth) {
			& { border-width:0; }
		}
		
		&>ul {
			margin: 0 auto;
			li { border-color: #fff; }
		}
	}
	
	.nav .search-form {
		input {
		
			/* hack because cssshrink combines placeholder rules */
			&::-webkit-input-placeholder { color: #ffffff; }
			&::-moz-placeholder { color: #fff !important; }
			&:-moz-placeholder { color: #ffffff !important; }
			&:-ms-input-placeholder { color: #fff; }

		}
		
		button {
			opacity:1;
			color: #fff;
		}	
	}

	
}

/* collapsed nav */
.mobile-nav-bg { display: none; }

.toggle-nav { 
	outline: none;
	color: #fff;
	display: none;
	position: absolute;
	background: transparent;
	top: 10px; right: 100%;
	margin-right: -25px;
	z-index: 24;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( all 0.2s $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	.show-nav & {
		right:0;
		margin-right: 15px;
	}
	
	/* @media screen and (max-width: 600px) { */
		& { font-size:0; padding: 20px;}
	/* } */
		
	.show-nav &,
	&:hover {
		background: $blueColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: $blueColor; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		position: absolute;
		top: 50%;
		border-top:  2px solid #fff;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $blueColor; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid #fff;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

@media screen and (max-width: $collapseNavAt) {

	$darkBlueColor: darken($blueColor,10);
	.toggle-nav { display: block; }
	.mobile-nav-bg { 
		background: rgba(0,0,0,0.6); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
			@include transform( translateZ(0) );
		}
		
	}
	
	
	.nav-wrap { z-index: 22;
		@include transform( translate3d(-300px,0,0) );
		@include transition( 0.2s transform 0s $ease-in-out-sine );
	}
	
	.show-nav {
		overflow: hidden;
		height: 100vh;
		body { overflow: hidden; }
		
		.nav-wrap {
			@include transform( none );		
		}
		
	}
	
	.nav-wrap { position: fixed; top:0; left:0; bottom:0; width: 240px; background: $darkBlueColor; box-shadow: 4px 0 4px rgba(0,0,0,0.4); }
	.nav { position: absolute; top:0; left:0; right:0; bottom: -10px; 
		.search-form {
			border-bottom: 1px solid #fff;
			input {
				/* hack because cssshrink combines placeholder rules */
				&::-webkit-input-placeholder { color: #ffffff; }
				&::-moz-placeholder { color: #fff !important; }
				&:-moz-placeholder { color: #ffffff !important; }
				&:-ms-input-placeholder { color: #fff; }
			}
		}
	}
	
	.nav-wrap,
	.ios .nav {
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
	.ios .nav,
	.ios .nav>* {
		@include transform( translateZ(0) );
	}
	
	.nav .sw { 
		max-width: 100%; position:static;
		.ios & { height: 101%; }
	}
	
	.nav { background: $darkBlueColor; }
	
	nav,
	.nav-top {
		position: static;
	}
	
	.nav-top {
		&>a {
			float: none;
			&:before { top:0; bottom:0; width:0;}
		}
		
		.social { 
			text-align:center; 
			display:block;
			margin:10px 0;
			padding: 0 0 30px;
		}
	}
	
	nav { 
		padding:36px 0 0;
		border:none;
		&>ul { 
			display: block; 
			&>li { border:none; }
		}
		a { 
			text-align: left; 
			padding: 8px;
		}
		div {
			display: block; 
			position: static; 		
			
			ul {
				background: darken($darkBlueColor,10);
				li:before { display: none; }
			}
			
		}
	}
	
}