/* hero */
.hero {
	position: relative;
	z-index: 2;

	.home & { background: #000;}

	&:before,
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; bottom:0; right:0;
		margin: 0 auto;
		width: $wrapperWidth;
		background: rgba(0,0,0,0.7);
		z-index:10;
		pointer-events: none;
	}
	
	&:after { @include transform( translate3d(-100%,0,0) ); }
	&:before { 
		@include transform( translate3d(100%,0,0) ); 
		left: -2px;
	}
	
}

.hero-wrap { 
	margin-bottom:0; 
	position: relative;
	
	.slick-list { overflow: visible; }
	
	&:after {
		position: absolute;
		top: 100%; left:0; right:0;
		background: #b9b9b9;
		height: 12px;
		content:"";
		z-index: -1;
	}
}

.hero-slide {

	position: relative;
	width: $wrapperWidth;
	max-width: 100vw;
	height: 500px;
	
	@media screen and (max-width: 600px) {
		& { max-height: 100vh !important; }
	}
	
	.error404 & { 
		height: auto !important; 
		max-height: none !important;
	}
	
	.home & { 
		height: 600px;
		
		&:before {
			position: absolute;
			top:100%; left:0; right:0;
			width: $wrapperWidth;
			margin: 0 auto;
			height: 12px;
			background: $blueColor;
			opacity:0;
			content:"";
			@include transition( opacity 0.3s $ease-in-out-sine, transform 5s $ease-in-sine 0.3s );
			@include transform( scale(0,1) );
			@include transform-origin( left center );
			@include transition-duration( 0s, 0s );
			@include transition-delay( 0.3s, 0.3s );
		}
		
		&.slick-active:before {
			opacity:1;
			@include transform( scale(1,1) );
			@include transition-duration( 0.3s, 5s );
			@include transition-delay( 0s, 0.3s );
		}
		
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		opacity: 0.7;
		@include linear-gradient( to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.2) );
	}
}

.hero-content {
	position: relative;
	z-index:10;
	height: 100%;
	padding: 90px 30px 0;
	font-weight: 200;
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
	@include align-items( center );
	color: #fff;
	opacity:0;
	@include transition( 0.2s opacity $ease-in-out-sine 0.4s );
	
	.slick-active & { opacity:1; }
	.home & { padding-top:0; }
	
	.error404 & { 
		text-align:center;
		display: block; 
		@media screen and (min-width: 800px) {
			& { padding-top: 220px; }
		}
		
		.video-wrap {
			width: 600px;
			max-width: 90%;
			margin: 20px auto;
		}
		
	}
}



.hero-title {
	font-size: 34px;
	display: block;
	margin: 0 0 15px;
	text-align:center;
	padding: 0 25px;
	font-weight:200;
}

.hero-subtitle {
	font-size: 22px;
	display: block;
	margin: -10px 0 15px;
}

.hero-button {
	display:block;
	padding: 8px 16px;
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	@include transition( 0.3s color $ease-in-out-sine );
	&:before {
		content:"";
		position:absolute;
		top:0; left:0;
		width: 100%; height: 100%;
		border: 0 solid #fff;
		@include transition( 0.3s border $ease-in-out-sine );
		z-index: -1;
	}
	
	&:hover {
		&:before { border-width: 3px; }
	}
}

.hero-item {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-nav {
	position: absolute;
	bottom:-8px; left:0; right:0;
	text-align:center;
	
	.btn {
		display: table-cell;
		width: 1%;
		background: $blueColor;
		color: #fff;
		text-align:center;
		padding: 20px 5px;
		text-transform: uppercase;
		font-size: 14px;
		opacity:0.4;
		
		.fa {
			display: block;
			font-size: 42px;
			padding: 10px 5px 5px;
		}
		
		&:hover,
		&.selected { opacity:1; }
		
	}
}

.hero-control-wrap {
	max-width: 100%;
	width: 600px;
	display: table;
	margin: 0 auto;
	border-spacing: 8px;
	table-layout: fixed;
	
	@media screen and (max-width: 600px) {
		& { display: none; }
	}
}